<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.coding_labs.Comics_Go"
        versionCode = "16" 
        version     = "0.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Comics Go</name>

    <description>
        you can acces to Over 14000 comics series with Comics Go!
    </description>

    <author href="https://coding-labs.com" email="admin@coding-labs.com">
        imadOs
    </author>
	<icon src="icon.png" platform="android" />
	<access origin="*" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" /> 
	<gap:plugin name="phonegap-admob" source="npm" />
	<plugin name="cordova-plugin-crosswalk-webview" version="1.6.1">
    		<param name="XWALK_MODE" value="lite" />
	</plugin>
</widget>
